SUMMARY = "My Rust application"
LICENSE = "CLOSED"

SRC_URI = "https://github.com/Davidgb4005/myapp.git;protocol=https;branch=main \
           file://myapp.service"

SRCREV = "YOUR_COMMIT_HASH"

S = "${WORKDIR}/git"

inherit cargo systemd

SYSTEMD_SERVICE:${PN} = "myapp.service"
SYSTEMD_AUTO_ENABLE:${PN} = "enable"

do_install() {
    install -d ${D}${bindir}

    install -m 0755 \
        target/${RUST_TARGET_SYS}/release/myapp \
        ${D}${bindir}/myapp

    install -d ${D}${systemd_system_unitdir}

    install -m 0644 ${WORKDIR}/myapp.service \
        ${D}${systemd_system_unitdir}/myapp.service
}

FILES:${PN} += "${systemd_system_unitdir}/myapp.service"