SUMMARY = "My Rust application"
LICENSE = "CLOSED"

SRC_URI = "git://github.com/USER/REPO.git;protocol=https;branch=master \
           file://myapp.service \
           crate://crates.io/rand/0.8.5 \
           crate://crates.io/rand_core/0.6.4 \
           crate://crates.io/rand_chacha/0.3.1 \
           crate://crates.io/ppv-lite86/0.2.20 \
           crate://crates.io/getrandom/0.2.15 \
           crate://crates.io/cfg-if/1.0.0 \
           crate://crates.io/libc/0.2.155"
           
SRCREV = "c6d4e012ae2d23cf2aea288423be34d669badcdb"

S = "${WORKDIR}/git"

inherit cargo systemd

SYSTEMD_SERVICE:${PN} = "myapp.service"
SYSTEMD_AUTO_ENABLE:${PN} = "enable"

do_install() {
    install -d ${D}${bindir}

    install -m 0755 \
        target/${RUST_TARGET_SYS}/release/myapp \
        ${D}${bindir}/myapp

    install -d ${D}${systemd_system_unitdir}

    install -m 0644 ${WORKDIR}/myapp.service \
        ${D}${systemd_system_unitdir}/myapp.service
}

FILES:${PN} += "${systemd_system_unitdir}/myapp.service"